html,body{
  height:100%;
  margin:0;
  background:var(--bg);
  color:var(--text);
  font-family: "Berthold Akzidenz Grotesk", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

}
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: var(--header-bg);
  backdrop-filter: blur(6px); /* schöner Effekt, optional */
  z-index: 1000;
}

/* Links / Rechts */
.header-left,
.header-right{
  font-size: 12px;
  line-height:1;
  color: white;
}

body {
    background-color: black;
}

/* Damit Inhalt nicht vom Header verdeckt wird */
.content{
  padding: 100px 20px 40px; /* top padding mindestens Headerhöhe */
  max-width: 1100px;
  margin: 0 auto;
}


.Blickwechsel-grid__title {
  grid-area: title;
  color: white;
  font-size: 100px;
  line-height: 160px;
  margin-top: -80px;
  margin-bottom: -60px;
}

.Blickwechsel-grid__caption {
  grid-area: caption;
  color: white;
  margin-bottom: 60px;
}

.Blickwechsel-grid__caption-2 {
    grid-area: caption-2;
    color: white;
    margin-bottom: 60px;
}

.Blickwechsel-grid__caption-3 {
    grid-area: caption-3;
    color: white;
    margin-bottom: 60px;
}


.Blickwechsel-grid__hero {
  grid-area: hero;
  margin: -15px;
 
}

.Blickwechsel-grid__text {
  grid-area: text;
  color: white;
  margin-top: -80px;
}

.Blickwechsel-grid__image-1 {
  grid-area: image-1;  
}

.Blickwechsel-grid__image-2 {
  grid-area: image-2;
}

.Blickwechsel-grid__image-3 {
  grid-area: image-3;  
}

.Blickwechsel-grid__image-4 {
  grid-area: image-4;  
}

.Blickwechsel-grid__image-5 {
    grid-area: image-5;
}

.Blickwechsel-grid__image-6 {
    grid-area: image-6;
}


.Blickwechsel-grid__image-8 {
    grid-area: image-8;
}

.Blickwechsel-grid__image-9 {
    grid-area: image-9;
}

.Blickwechsel-grid__image-10 {
    grid-area: image-10;
}

.Blickwechsel-grid__image-11 {
    grid-area: image-11;
}

.Blickwechsel-grid__image-12 {
    grid-area: image-12;
}

.Blickwechsel-grid__image-13 {
    grid-area: image-13;
}

.Blickwechsel-grid__video-1 {
    grid-area: video-1;
}

.Blickwechsel-grid__video-1 {
    /* Macht das Video so breit wie der Container, in dem es liegt (die Grid-Zelle) */
    width: 100%; 
    
    /* Passt die Höhe automatisch an, um das Seitenverhältnis zu erhalten */
    height: auto; 
    
    /* Stellt sicher, dass das Video als Block-Element behandelt wird */
    display: block; 
}


.Blickwechsel-grid {
  display: grid;
  padding: 0 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "hero hero hero hero"
    "title title title title "
    "text text . ."
    "caption caption . ."
    "image-1 image-1 image-2 image-2"
    "image-3 image-3 image-4 image-4"
    "image-5 image-5 image-6 image-6" 
    "caption-2 caption-2 . ."
    "image-12 image-12 image-12 image-12" 
    "image-8 image-8 image-9 image-9"
    "image-10 image-10 image-11 image-11" 
    "caption-3 caption-3 . ."
    "image-13 image-13 video-1 video-1" ;

} 

.nav {
  display: grid;
  align-items: center;
  padding: 15px 15px;
  top: 0;
  position: sticky;
}

img {
  max-width: 100%;
  display: block;
}
