html,body{
  height:100%;
  margin:0;
  background:var(--bg);
  color:var(--text);
  font-family: "Berthold Akzidenz Grotesk", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

}
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: var(--header-bg);
  z-index: 1000;
}

/* Links / Rechts */
.header-left,
.header-right{
  font-size: 12px;
  line-height:1;
  color: white;
}

body {
    background-color: black;
}

/* Damit Inhalt nicht vom Header verdeckt wird */
.content{
  padding: 100px 20px 40px; /* top padding mindestens Headerhöhe */
  max-width: 1100px;
  margin: 0 auto;
}


.Paris-grid__title {
  grid-area: title;
  color: white;
  font-size: 100px;
  line-height: 160px;
  margin-top: -80px;
  margin-bottom: -60px;
}

.Paris-grid__caption {
  grid-area: caption;
  color: white;
  margin-bottom: 60px;
}

.Paris-grid__hero {
  grid-area: hero;
  margin: -15px;
 
}

.Paris-grid__text {
  grid-area: text;
  color: white;
  margin-top: -80px;
}

.Paris-grid__image-1 {
  grid-area: image-1;  
}


.Paris-grid__image-3 {
  grid-area: image-3;  
}

.Paris-grid__image-4 {
  grid-area: image-4;  
}

.Paris-grid__image-5 {
    grid-area: image-5;
}

.Paris-grid__image-6 {
    grid-area: image-6;
}

.Paris-grid__image-7 {
    grid-area: image-7;
}

.Paris-grid__image-8 {
    grid-area: image-8;
}

.Paris-grid__image-9 {
    grid-area: image-9;
}

.Paris-grid__image-10 {
    grid-area: image-10;
}

.Paris-grid__image-11 {
    grid-area: image-11;
}

.Paris_draft_1 {
    grid-area: image-1a;
}

.Paris_draft_2 {
    grid-area: image-2a;
}

.Paris_draft_3 {
    grid-area: image-3a;
}

.Paris_draft_4 {
    grid-area: image-4a;
}

.Paris_draft_5 {
    grid-area: image-5a;
}

.Paris_draft_6 {
    grid-area: image-6a;
}

.Paris_draft_7 {
    grid-area: image-7a;
}

.Paris_draft_8 {
    grid-area: image-8a;
}



.Paris-grid {
  display: grid;
  padding: 0 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "hero hero hero hero"
  "title title title title"
  "text text . . "
  "caption caption . ."
  "image-1 image-1 image-1 image-1"
  "image-3 image-3 image-3 image-3"
  "image-4 image-4 image-5 image-5" 
  "image-6 image-6 image-7 image-7"
  "image-8 image-8 image-9 image-9"
  "image-10 image-10 image-11 image-11" 
  "image-1a image-2a image-3a image-4a"
  "image-5a image-6a image-7a image-8a"
} 

.nav {
  display: grid;
  align-items: center;
  padding: 15px 15px;
  top: 0;
  position: sticky;
}

img {
  max-width: 100%;
  display: block;
}